*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  --cyan: hsl(185, 75%, 39%);
  --blue: hsl(229, 23%, 23%);
  --grayishblue: hsl(227, 10%, 46%);
  --gray: hsl(0, 0%, 59%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Background-image */

section {
  background: var(--cyan);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
}

.card-banner {
  background-image: url("../images/bg-pattern-card.svg");
  background-size: cover;
  height: 150px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  margin: -52.5px auto 30px auto;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.card-info {

}